html,body,
header,footer,section,aside,nav,article,figure,figcaption,hgroup,time,
div,pre,span,h1,h2,h3,h4,p,a,img,strong,blockquote,dl,dt,dd,ol,ul,li,form,label,table,tbody,tr,th,td {
	margin: 0; padding: 0; border: 0; outline: 0;
	background: transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }


html { height: 100%; font-size: 100%; }
body {
	display: table;
	height: 100%;
	margin: 0 auto;
	color: #a4abb2;
	font: 1.3em/1.6 "Avenir Next", "Avenir", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
}
#w {
	display: table-cell;
	width: 640px;
	padding: 60px 10px;
	vertical-align: middle;
}
#w.post { width: 980px; }
nav {
	position: absolute;
	left: 2em;
	top: 1em;
	color: #d3d5d8;
	font-size: .7em;
}
nav a { color: inherit; }
header { margin-bottom: 2.71em; }

h1 {
	position: relative;
	font-size: 2.71em;
	font-weight: 700;
}
h1:before {
	position: absolute;
	right: 103%;
	top: 1.1em;
	content: '#';
	color: #d3d5d8;
	font-size: .5em;
	font-weight: 600;
	text-align: right;
}
h1 a { color: inherit; }
h2 {
	position: relative;
	font-size: 1.7em;
	font-weight: 400;
}
h2:before {
	position: absolute;
	right: 103%;
	top: 1.15em;
	content: '##';
	color: #d3d5d8;
	font-size: .5em;
	font-weight: 600;
	text-align: right;
}
h2 a { color: inherit; }

time {
	color: #d3d5d8;
	font-size: .7em;
}
p { margin: 1em 0; }
hr {
	border: none;
	border-bottom: 1px #f3f5f8 solid;
	margin: 2em 0;
}
a {
	color: #d03e4c;
	text-decoration: none;
}

.posts li {
	list-style: none;
	position: relative;
	margin: 1em 0;
}
.posts li:before {
	position: absolute;
	right: 103%;
	top: .5em;
	content: '*';
	color: #d3d5d8;
	font-size: 1.1rem;
	font-weight: 600;
	text-align: right;
}
.posts li a { color: inherit; }

pre {
	max-width: 900px;
	padding: .5rem 1rem;
	border-radius: 3px;
	margin: 1rem auto;
	overflow-y: auto;
	background: #f3f5f8;
	font-family: Menlo;
}
code {
	font: 1em/1.6 monospace;
}


.tw	{ color: #55acee; }
.in	{ color: #1777b2; }


::selection {
	color: #fff;
	background-color: #d03e4c;
}