html,body,
header,footer,section,aside,nav,article,figure,figcaption,hgroup,time,
div,pre,span,h1,h2,h3,h4,p,a,img,strong,blockquote,dl,dt,dd,ol,ul,li,form,label,table,tbody,tr,th,td {
	margin: 0; padding: 0; border: 0; outline: 0;
	background: transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }


html { height: 100%; font-size: 100%; }
body {
	display: table;
	height: 100%;
	margin: 0 auto;
	color: #c0c5cf;
	background-color: #2b303b;
	font: 1.1em/1.6 "Myriad Set Pro", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
}
#w {
	display: table-cell;
	width: 640px;
	padding: 80px 60px;
	vertical-align: middle;
}
#w.post { width: 980px; }
nav {
	position: absolute;
	left: 2em;
	top: 1em;
	color: #4f5b66;
	font-size: .7em;
}
nav a { color: inherit; }
header { margin-bottom: 2.71em; }
footer { margin-top: 3.14em; }

h1 {
	position: relative;
	font-size: 2.71em;
	font-weight: 700;
}
h1:before {
	position: absolute;
	right: 103%;
	top: 1.1em;
	content: '#';
	color: #4f5b66;
	font-size: .5em;
	font-weight: 600;
	text-align: right;
}
h2 {
	position: relative;
	margin: 2em 0 1em;
	font-size: 1.7em;
	font-weight: 400;
}
h2:before {
	position: absolute;
	right: 103%;
	top: 1.15em;
	content: '##';
	color: #4f5b66;
	font-size: .5em;
	font-weight: 600;
	text-align: right;
}
h3,
.archives h2 {
	position: relative;
	margin: 1em 0 .5em;
	font-size: 1.2em;
	font-weight: 400;
}
h3:before {
	position: absolute;
	right: 103%;
	top: 1.15em;
	content: '###';
	color: #4f5b66;
	font-size: .5em;
	font-weight: 600;
	text-align: right;
}

time {
	color: #4f5b66;
	font-size: .7em;
}
p { margin: 1em 0; }
strong { font-weight: 600; }
hr {
	width: 45%;
	border: none;
	border-bottom: 1px #4f5b66 solid;
	margin: 2em auto;
}
a {
	color: #bf626b;
	text-decoration: none;
}

.btn {
	padding: .2em 1em;
	border: 1px solid #4f5b66;
	border-radius: 4px;
	color: #4f5b66;
}
.btn:hover {
	border-color: #bf626b;
	color: #bf626b;
}

ol {
	list-style: none;
	counter-reset: item;
	position: relative;
	margin: .5em 3rem;
}
ol li {
	position: relative;
	margin: .5em 0;
}
ol li:before {
	position: absolute;
	right: 102%;
	top: 0.1em;
	content: counter(item) '.';
	counter-increment: item;
	color: #4f5b66;
	font-size: 1rem;
	font-weight: 600;
	text-align: right;
}

.posts li {
	list-style: none;
	position: relative;
	margin: .5em 0;
}
.posts li:before {
	position: absolute;
	right: 103%;
	top: .25em;
	content: '*';
	color: #4f5b66;
	font-size: 1.1rem;
	font-weight: 600;
	text-align: right;
}
.posts li a { color: inherit; }
.posts li a:hover { color: #bf626b; }
.posts time {
	position: absolute;
	right: 0;
	bottom: .2em
}

blockquote {
	margin: 1rem 6rem;
	color: #4f5b66;
	font-style: italic;
}
.quote-src {
	display: block;
	margin-top: .3rem;
	text-align: right;
}
.quote-src:before { content: "— "; }

.gist,
pre { 
    padding: .5rem 1rem;
    margin: 1rem 3rem;
}
pre {
	border-radius: 3px;
	overflow-y: auto;
	background: #f0f2f5;
}
code {
	color: #8fa1b2;
	font: 1em/1.6 monospace;
}
pre code {
	color: #64727d;
}


::selection {
	color: #fff;
	background-color: #bf626b;
}
