html,body,
header,footer,section,aside,nav,article,figure,figcaption,hgroup,time,
div,pre,span,h1,h2,h3,h4,p,a,img,strong,blockquote,dl,dt,dd,ol,ul,li,form,label,table,tbody,tr,th,td {
	margin: 0; padding: 0; border: 0; outline: 0;
	background: transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }


html { height: 100%; font-size: 100%; }
body {
	display: table;
	height: 100%;
	margin: 0 auto;
	color: black;
	background-color: white;
	font: 400 21px/1.6 Arial, sans-serif;
}
#w {
	display: table-cell;
	width: 750px;
	max-width: 750px;
	padding: 80px 60px;
	vertical-align: middle;
}
nav {
	position: absolute;
	left: 1em;
	top: 1em;
	color: #ccc;
	font-size: .7em;
	transform-origin: bottom left;
	transform: rotate(90deg);
}
nav a {
	border: 0;
	font-family: inherit;
	letter-spacing: normal;
	color: inherit;
	background-color: inherit;
}
header { margin-bottom: 2.71em; }
footer { margin-top: 3.14em; }

h1, h2, h3, strong {
	font-family: 'Arial Black', Arial, sans-serif;
	letter-spacing: -0.07em;
}
h1 {
	padding: 0;
	text-transform : uppercase;
	font-size: 2.71em;
}
h1 a:hover {
	color: white;
	background-color: black;
}
h2 {
	position: relative;
	margin: 2em 0 1em;
	font-size: 1.7em;
	text-transform : uppercase;
	color: black;
	background-color: transparent;
}
h2 a {
	color: inherit;
	background-color: inherit;
}
h3,
.archives h2 {
	position: relative;
	margin: 1em 0 .5em;
	font-size: 1.2em;
}

time {
	color: #ccc;
	font-size: .7em;
}
p { margin: 1em 0; }
strong {
	font-size: 1.1em;
	font-weight: 800;
}
hr {
	width: 3em;
	border: none;
	border-bottom: 0.3em black solid;
	margin: 3em auto;
}
a {
	padding: 0 0.25em;
	border: 0.2em solid black;
	color: white;
	background-color: black;
	font-family: 'Arial Black', Arial, sans-serif;
	letter-spacing: -0.07em;
	text-decoration: none;
}
a:hover {
	color: black;
	background-color: white;
}

ol {
	list-style: none;
	counter-reset: item;
	position: relative;
	margin: .5em 3rem;
}
ol li {
	position: relative;
	margin: .5em 0;
}
ol li:before {
	position: absolute;
	right: 102%;
	top: 0.4rem;
	content: counter(item) '.';
	counter-increment: item;
	color: #ccc;
	font-size: 1rem;
	font-weight: 600;
	text-align: right;
}

.posts li {
	list-style: none;
	position: relative;
	margin: .5em 0;
}
.posts li:before {
	position: absolute;
	right: 103%;
	top: .5rem;
	content: '*';
	color: #ccc;
	font-size: 1.1rem;
	font-weight: 600;
	text-align: right;
}
.posts li a {
	border-color: white;
	color: inherit;
	background-color: transparent;
	font-family: inherit;
}
.posts li a:hover {
	border-color: black;
	color: white;
	background-color: black;
}
.posts time { margin-left: 0.3em; }

blockquote {
	margin: 1rem 6rem;
	color: #ccc;
	font-style: italic;
}
.quote-src {
	display: block;
	margin-top: .3rem;
	text-align: right;
}
.quote-src:before { content: "— "; }

.twitter-tweet { margin: 1rem auto; }

.gist,
pre {
    padding: .5rem 1rem;
    margin: 1rem 3rem;
}
pre {
	border-radius: 5px;
	overflow-y: auto;
	background-color: #f7f7f7;
}
code {
	padding: 0.25em 0.5em;
	border-radius: 5px;
	color: #666;
	background-color: #f7f7f7;
	font: 0.7em/1 monospace;
}
pre code {
	padding: 0;
	background-color: transparent;
}

.gist a {
	background-color: inherit;
	font-family: inherit;
	letter-spacing: normal;
}